@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about NBA Teams: <a href="https://nba.com/">NBA</a></p>
    <p>ZAPRATITE ME ZA VIŠE SAVJETA!!!</p>
</div>
